.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 33px;
  height: 105px;
  color: $color-text-title;
  font-size: 55px;
  font-weight: 700;
  width: 380px;
}

.prices {
  display: inline-block;
  width: 160px;
  height: 67px;
  text-align: center;
}

.mark-check {
  display: inline-block;
  width: 15px;
  height: 13px;
  margin-left: 22px;
  margin-right: 22px;
}

.order-but {
  width: 154px;
  height: 40px;
  border-radius: 20px;
  padding: 0;
  border: 0;
  margin: auto;
  display: block;
  margin-top: 40px;
  color: $color-text-title;
  font-size: 14px;
  font-weight: 400;
}
