@import 'variables.scss';
@import 'common.scss';
@import 'card.scss';

html {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color-background-page;
}
