$color-background-page: #141b1c;
$color-background-card: #334247;
$color-background-basic-price: #5bb189;
$color-background-business-price: #3a6ba5;
$color-background-webshop-price: #ec632a;
$color-background-list-item: #2a34387d;
$color-background-basic-but: #5bb189;
$color-background-business-but: #3a6ba5;
$color-background-webshop-but: #ec632a;
$color-background-bend-img: #dc3f45;

$color-text-title: #fff;
